***Pandas Basics Assignment***

In [1]:
import pandas as pd

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12092\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
s1 = pd.Series([4, 8, 15, 16, 23, 42])
s1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [6]:
list = ['Dog','Cat','Cow','Elephant','Donkey','Tiger','Lion','Bear','Horse','Zebra']
s2 = pd.Series(list)
s2

0         Dog
1         Cat
2         Cow
3    Elephant
4      Donkey
5       Tiger
6        Lion
7        Bear
8       Horse
9       Zebra
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [10]:
dict = {
    'Name' : ['Alice','Bob','Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male','Female']
}

dict

df1 = pd.DataFrame(dict)
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
'''In Pandas DataFrame is a two dimensional, tabular data structure that is capable of holding data of different data types.
It is similar to spreadsheet or SQL table where data is stored in rows and columns. Each column in a DataFrame is a Pandas 
Series, entire Dataframe is thought of a cantainer for multiple Series Object.

On the other hand, Series is a one dimensional array capable of holding any datatype. It is essentially single column of a 
DataFrame
'''

In [14]:
## Example

# Creating a Pandas Series
s = pd.Series(['Alice','Bob','Claire'])

# Creating a Pandas DataFrame with Dictionary
dict = {
    'Name' : ['Alice','Bob','Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male','Female']
}
df = pd.DataFrame(dict)


# Printing Series and DataFrame
print(s)
print(df)

0     Alice
1       Bob
2    Claire
dtype: object
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

In [ ]:
# head() : return first 'n' rows of the dataframe
df.head(3)

# tail() : return last 'n' rows of the dataframe
df.tail(3)

In [ ]:
# info() : provides summary of the dataframe about data types, non-null values and memory usage
df.info()

In [ ]:
# discribe() : Generates Discriptive statistics(mean,median,mode,std,var)
df.discribe()

In [ ]:
# shape() : gives number of rows and columns
df.shape()

In [ ]:
# drop() : removes specific row or a column
df.drop(column='age')

Q6. Create a DataFrame using multiple Series. Explain with an example.

In [17]:
# Creating multiple Series
name_series = ['John','Jack','Joe']
age_series = [25,26,27]
city_series = ['Mumbai','Pune','Nagpur']

# combaining series into dictionary
dict = {
    'name' : name_series,
    'age' : age_series,
    'city' : city_series
}

# creating dataframe from dictionary
df = pd.DataFrame(dict)
df

   name  age    city
0  John   25  Mumbai
1  Jack   26    Pune
2   Joe   27  Nagpur